<h1 class="padding-top">List of your friends!</h1>

<hr class="restrict">

<div class="row">

  {{#each photoDetail in photoDetails}}
    <div class="media" {{action showPhotoDetails photoDetail on="click"}}>
      <a class="pull-left" href="#">
        <img class="media-object" {{bind-attr src=photoDetail.urlThumb}} width="100px" height="100px">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{photoDetail.name}}</h4>
          {{#if photoDetail.userDescription}}
            {{photoDetail.userDescription}}
          {{else}}
            No information exists for this photo.
          {{/if}}
      </div>
    </div>
  {{/each}}

</div>

<div class="row">

</div>