<h1 class="padding-top">Photo details!</h1>

<hr class="restrict">

<div class="row">
  <h4>Photo: {{model.name}} | Uploaded: {{model.createDate}}</h4>
</div>

<div class="row">

  <div class="col-md-6 bordered" >
    <img id="cur-image" crossorigin="anonymous" class="media-object col-md-12" {{bind-attr src=model.url}} >
  </div>

  <div class="col-md-6 bordered">
    <h4>Following people were found:</h4>

    {{#each faceImage in faceImages}}
        <form class="media col-md-12" {{action updateFaceDetails faceImage on="submit"}}>
          <a class="pull-left" href="#">
            <img class="media-object" crossorigin="anonymous" {{bind-attr src=faceImage.data}} {{bind-attr height=faceImage.height}} {{bind-attr width=faceImage.width}}>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Who is this?</h4>
              {{input value=faceImage.personName size="30" id=faceImage.uid }} <button type="submit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-ok"></span></button>
          </div>
        </form>
        <h4 class="col-md-offset-3" {{action findMatches faceImage}}>Help me!</h4>

    {{/each}}
  </div>

</div>

<hr class="restrict">

<div class="row">
  {{textarea value=model.userDescription cols="80" rows="6" placeholder="No information exists for this photo."}}

  {{textarea value=model.processedInformation cols="80" rows="6" disabled=true placeholder="No information exists for this photo."}}
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><button {{action 'savePhotoDetails'}} class="btn  btn-default" type="button">Save</button></div>
  <div class="col-md-4"><button {{action 'processPhoto'}} class="btn btn-primary btn-default" type="button">Process</button></div>
</div>