<h1 class="padding-top">Photo details!</h1>

<hr class="restrict">

<div class="row">
  <h4>Photo: {{model.name}} | Uploaded: {{model.createDate}}</h4>
</div>

<div class="row">

<img id="cur-image" crossorigin="anonymous" class="media-object" {{bind-attr src=model.url}} {{bind-attr height=model.height}} {{bind-attr width=model.width}}>

<hr class="restrict">

{{textarea value=model.userDescription cols="80" rows="6"}}

{{textarea value=model.processedInformation cols="80" rows="6" disabled=true}}

</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><button {{action 'savePhotoDetails'}} class="btn  btn-default" type="button">Save</button></div>
  <div class="col-md-4"><button {{action 'processPhoto'}} class="btn btn-primary btn-default" type="button">Process</button></div>
</div>