<h1 class="padding-top">Enter you credentials</h1>

<hr class="restrict">

<div class="col-md-6">

  {{#if errorMessage}}
    <div class="alert alert-danger">{{errorMessage}}</div>
  {{/if}}
  <form role="form" {{action login on="submit"}}>
      
      <div class="form-group">
          <label for="user-email">Enter you email here</label>
          {{input value=email  class="form-control" id="user-email" placeholder="Email"}}
      </div>

      <div class="form-group">
          <label for="user-password">And password here</label>
          {{input value=password type="password" class="form-control" id="user-password" placeholder="Password"}}
      </div>

      {{input type="submit" class="btn btn-default" value="Sign in!"}}

  </form>

</div>